@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.title{
	font-family: 'Ubuntu', sans-serif;
}

.icon-size-5 {
	font-size: 5rem;
}

.icon-size-4 {
	font-size: 4rem;
}

body {
	min-height: 100vh; 
	/*background-image: url('../imgs/undraw_selfie1_kpqf.svg');*/
	/*background-position*/
	background-size: 100%;
	background-repeat: no-repeat;
	background-origin.

}

#canvas {
    top: -25px;
    right: 70px;
    /*bottom: 200px;*/
}

@media (min-width: 300px) and (max-width: 600px) {
	#profileImage{
		width: 84%;
		    margin-right: auto!important;
	}

	#canvas {
	    top: 0px;
	    right: 0px;
	    left: 1%;
	}

	#canvasImgForm {
	    top: 0px;
	    right: 0px;
	    left: 5%;
	}

	#imgRec {
    	margin-left: 9%;
    	margin-top: 0%;
	}
}

@media (min-width: 700px) {
	body {
		/*background-image: url('../imgs/undraw_selfie1_kpqf.svg');*/
		background-position: center bottom 45%;
		background-size: 30%;
		background-repeat: no-repeat;
		background-origin.
	}
	#profileImage {
		width: 30%;
	}
	
	#imgRec {
    	margin-left: -22%;
    	margin-top: 9%;
	}

	canvas {
    	margin-left: 6%;
    	margin-top: 9%;
    	/*margin-left: 36px;*/
    	/*margin-top: 24px;*/
	}	
}
